{% extends 'doctor_base.html' %}

{% block title %}Doctor Home Page{% endblock %}

{% block header %}Home Page{% endblock %}

{% block content %}
    <h2>Hello, Dr. {{ name }}!</h2>
    <p>Welcome to your healthcare database, the tabs above have the following functionality:</p>
    <ul>
        <li>Home: Return to this Home Page at any time</li>
        <li>Appointments: View your upcoming and past appointments</li>
        <li>Patients: View a list of your patients and any detailed information about them including their appointments,
            medications, allergies, lab tests, and insurance
        </li>
    </ul>
    <p>Click on one of the sections to navigate there!</p>
    
{% endblock %}