{% extends "patient_base.html" %}

{% block title %}Patient Appointments Page{% endblock %}

{% block header %}Appointments{% endblock %}

{% block content %}
<h2>Create an Appointment</h2>
<form action="{{ url_for('appointments') }}" method="post">
    <label for="doctor_id">Doctor:</label>
    <select name="doctor_id" required>
        <option value="">Select a Doctor</option>
        {% for doctor in doctors %}
        <option value="{{ doctor[0] }}">{{ doctor[1] }} {{ doctor[2] }} - {{ doctor[3] }}</option>
        {% endfor %}
    </select>

    <label for="date">Date:</label>
    <input type="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" name="time" required>

    <button type="submit">Create Appointment</button>
</form>
    <h2>Upcoming Appointments for {{ name }}</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Insurance</th>
        </tr>
        {% for appointment in future_appointments %}
        <tr>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[0] }} {{ appointment[1] }}</td>
            <td>{{ appointment[4] }}</td>
        </tr>
        {% endfor %}
        {% if not future_appointments %}
            <p>No upcoming appointments.</p>
        {% endif %}
    </table>
    <h2>Past Appointments for {{ name }}</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Insurance</th>
        </tr>
        {% for appointment in past_appointments %}
        <tr>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[0] }} {{ appointment[1] }}</td>
            <td>{{ appointment[4] }}</td>
        </tr>
        {% endfor %}
        {% if not past_appointments %}
            <p>No past appointments.</p>
        {% endif %}
    </table>
{% endblock %}