{% extends 'patient_base.html' %}

{% block title %}Patient Home Page{% endblock %}

{% block header %}Home Page{% endblock %}

{% block content %}
    <h2>Hello, {{ name }}!</h2>
    <p>Welcome to your healthcare database, the tabs above have the following functionality:</p>
    <ul>
        <li>Home: Return to this Home Page at any time</li>
        <li>Appointments: View your upcoming and past appointments, as well as create new ones</li>
        <li>Doctors: View a list of available doctors and their average rating by other patients</li>
        <li>Prescriptions: View a list of your prescribed medications and lab tests</li>
    </ul>
    <p>Click on one of the sections to navigate there!</p>
{% endblock %}